@import "settings";
@import "components/menu";
@import "components/login";

.App{
    display: flex;
    .menu {
        background-color: rgb(45,45,45);
        width: 250px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        font-style: normal;
    }
    
    .content {
        flex: 1;
        padding-left: 15px;
        background-color: chartreuse;
        height: 100vh;
    }
}

